<%= error_messages_for 'role' %>

<!--[form:role]-->
<p><label for="role_role">Role</label><br/>
<%= text_field 'role', 'role'  %></p>

<p><label for="role_updated_at">Last modified</label><br/>
<%= datetime_select 'role', 'updated_at'  %></p>
<!--[eoform:role]-->

