<html>
<head>
  <title>UserAdmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
  
  <%#= javascript_include_tag :defaults %>
  <%#= javascript_include_tag 'prototype' %>
  <%= define_javascript_functions %> <!-- not recommended but autocomplete doesnt work without this -->
  
  <script language="javascript">
    function toggle_radios(frm, namePrefix, trigger)
    {
        if (trigger == true)
        {
            var e;        
            for(var i = 0; i < frm.elements.length; i++)
            {
                e = frm.elements[i];
                if (e.type == 'radio' && e.name.indexOf(namePrefix) > 0)
                {
                    e.disabled = !e.disabled;
                }
            } 
        }
    }
  </script>
</head>
<body>

<div id="logout"><%= link_to 'logout', :action => 'logout', :controller => 'login'%></div>
<div id="admin"><%= link_to 'admin', :action => 'index', :controller => 'admin'%></div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
